In [28]:
from sklearn import *
from tkinter import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn import svm
from sklearn.model_selection import cross_val_score

In [29]:
df=pd.read_csv('hire_data1.csv')

In [30]:
features=df.columns[:5]

In [31]:
features

Index(['Percentage', 'Backlog', 'Internship', 'First_Round',
       'Communication_Skills'],
      dtype='object')

In [32]:
x=df[features]
x

     Percentage  Backlog  Internship  First_Round  Communication_Skills
0         81.00        0           1        75.00                 80.00
1         70.00        0           3        87.00                 70.00
2         81.00        2           3        75.00                 67.00
3         56.00        3           3        42.00                 76.00
4         74.00        4           3        82.00                 75.00
5         69.00        0           2        74.00                 71.00
6         46.00        3           1        67.00                 86.00
7         70.00        0           1        78.00                 75.00
8         85.00        1           1        65.00                 72.00
9         70.00        1           1        80.00                 85.00
10        90.00        0           1        88.00                 89.00
11        70.00        0           1        84.00                 75.00
12        69.00        0           1        66.00                 71.00
13        70.00        2           0        85.00                 73.00
14        70.00        0           1        67.00                 73.00
15        67.00        1           1        64.00                 75.00
16        80.00        0           1        68.00                 77.00
17        67.00        0           1        66.00                 78.00
18        89.00        0           1        78.00                 80.00
19        90.00        0           1        90.00                 89.00
20        87.00        0           1        88.00                 85.00
21        68.00        0           1        80.00                 97.00
22        69.00        0           1        78.00                 80.00
23        80.00        0           1        84.00                 80.00
24        80.00        1           1        76.00                 80.00
25        80.00        1           1        88.00                 84.00
26        87.00        0           1        85.00                 85.00
27        75.00        0           2        80.00                 90.00
28        90.00        0           3        70.00                 75.00
29        88.00        0           3        85.00                 92.00
..          ...      ...         ...          ...                   ...
347       71.00        4           4        81.00                 71.00
348       64.00        1          69         0.00                 64.00
349       60.00        3          65         0.00                 61.00
350       60.00        6           0        60.00                 60.00
351       61.00        6           0        60.00                 60.00
352       62.00        5           0        62.00                 63.00
353       63.00        4           0        63.00                 65.00
354       64.00        3           0        65.00                 69.00
355       64.00        5           2        79.00                 69.00
356       63.00        6           2        78.00                 68.00
357       62.00        7           1        77.00                 67.00
358       61.00        8           1        76.00                 66.00
359       60.00        9           2        75.00                 65.00
360       59.00        8           2        75.00                 65.00
361       62.55        1           2        72.00                 79.00
362       72.87        0           3        80.30                 85.50
363       75.90        0           4        80.00                 85.00
364       59.00        4           2        71.00                 69.00
365       82.50        3           4        87.00                 83.00
366       59.37        3           1        65.00                 71.00
367       71.60        0           4        75.00                 85.00
368       65.58        2           4        71.00                 89.00
369       67.78        5           0        60.00                 71.00
370       59.98        5           5        87.00                 91.00
371       63.45        5           0        67.00                 70.00
372       68.87        2           0        66.67                 69.69
373       80.48        0           3        79.00                 88.89
374       65.00        2           1        60.00                 70.00
375      100.00        5           3        88.00                 88.00
376      100.00        8           1        88.00                 88.00

[377 rows x 5 columns]

In [33]:
y=df[['Hired']]
y

     Hired
0        1
1        1
2        0
3        0
4        1
5        1
6        0
7        1
8        1
9        1
10       1
11       1
12       1
13       1
14       1
15       1
16       1
17       1
18       1
19       1
20       1
21       1
22       1
23       1
24       1
25       1
26       1
27       1
28       1
29       1
..     ...
347      1
348      1
349      1
350      0
351      0
352      0
353      0
354      0
355      0
356      0
357      0
358      0
359      0
360      0
361      1
362      1
363      1
364      0
365      1
366      0
367      1
368      1
369      0
370      1
371      0
372      0
373      1
374      1
375      1
376      0

[377 rows x 1 columns]

In [34]:
y=np.ravel(y)#converts multi dimensional array to one dimensional array
y

array([1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       1, 1, 0], dtype=int64)

In [35]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [36]:
lr=LinearRegression()

In [37]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [38]:
y_pred=lr.predict(x_test)
y_pred

array([ 0.62854171,  0.69501832,  0.09385227,  0.60327464,  0.45912505,
        0.89847621,  0.47520914,  0.60079531,  1.01068841,  0.99419862,
        0.23804215,  0.70486072,  0.24286519,  0.67598126,  0.17714911,
        0.80583741,  0.75106513,  0.16202703, -0.82784028,  0.62678029,
        0.65732864,  0.39469481,  0.71147563,  0.4396674 ,  0.58671017,
        0.67755977,  0.94915453,  0.43628816,  0.36110339,  0.76106409,
        0.3069206 ,  0.68974686,  0.26018608,  0.73785703,  0.43427297,
        0.50558045,  0.93528285,  0.61569688,  0.99260759,  0.91794126,
        1.0204137 ,  0.6049519 ,  0.60731693,  0.34524914,  0.49027289,
        0.48579432,  0.79217047,  0.81511994,  0.6293209 ,  0.68121801,
        0.66871751,  0.67852358,  0.48400818,  0.59735145,  0.27719096,
        0.769982  ,  0.71167028,  0.94365932,  0.33546402,  0.05709702,
        0.62135716,  0.74442411,  0.61479364,  1.02633342,  0.64861237,
       -0.06107049,  0.98344356,  0.80656436,  1.05841212,  0.72788939,
        0.55539711,  0.98826003,  0.57923718,  0.50693639,  0.22197789,
        0.90150102, -0.12476905,  1.0384416 ,  0.20227111,  0.09145601,
        0.21261814,  0.86994049,  1.01579931,  0.06618086,  0.00193317,
        0.4481332 ,  0.85381013,  0.40982422,  0.58719642,  0.80624882,
        0.49498617,  0.49691613,  0.33887012,  0.21070113,  0.63451448,
        0.82754233,  0.30822092,  0.8029467 ,  0.71118984,  0.32422096,
        0.58676308,  0.83239333,  0.34586792, -0.14949999, -0.1877088 ,
        0.77650763,  0.53871111, -0.43558138,  0.30929614,  0.58550825,
        0.60925727,  0.697034  ,  0.58084146,  0.82423615])

In [39]:
print(metrics.accuracy_score(y_test,y_pred.round())*100)

88.59649122807018