# Decision Tree

In [1]:
from sklearn import *
from tkinter import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn import svm
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier

In [2]:
df=pd.read_csv('hire_data1.csv')#import data
df.head(10)

,Percentage,Backlog,Internship,First_Round,Communication_Skills,Hired,Name
0,81.0,0,1,75.0,80.0,1,Canon
1,70.0,0,3,87.0,70.0,1,Ajay
2,81.0,2,3,75.0,67.0,0,Aman
3,56.0,3,3,42.0,76.0,0,Amir
4,74.0,4,3,82.0,75.0,1,Monu
5,69.0,0,2,74.0,71.0,1,Baba
6,46.0,3,1,67.0,86.0,0,Canon
7,70.0,0,1,78.0,75.0,1,Aman
8,85.0,1,1,65.0,72.0,1,Zar
9,70.0,1,1,80.0,85.0,1,Teja

In [3]:
features=df.columns[:5]

In [4]:
x=df[features]

In [5]:
y=df[['Hired']]

In [6]:
y=np.ravel(y)

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [8]:
clf=DecisionTreeClassifier()

In [9]:
clf.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [10]:
y_pred=clf.predict(x_test)

In [11]:
y_pred

array([1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 1, 0, 1], dtype=int64)

In [12]:
print('Accuracy Of Decision Tree is:')
print(metrics.accuracy_score(y_test,y_pred)*100)

Accuracy Of Decision Tree is:
82.45614035087719

In [13]:
a=clf.predict([[40,3,1,67,86]])
a

array([0], dtype=int64)